{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Edlin pantry</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="{% static 'bboard/main.css' %}" type="text/css" />
<title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
</head>
<body>


<div id="mainmenu">
	<h1>Кладовка айтишника.</h1>	
	<div class="stat">
	{% if user.is_authenticated %}
		[localhost]~# Добро пожаловать, <a href="#">{{user.username}}</a>.<br/>
		[localhost]~#<a href="{% url 'logout' %}">&rarr;logout</a>		
	{% else %}
		[localhost]~>Здесь все периодически глючит и не работает. Это площадка для экспериментов. <br/>
		[localhost]~> Тут находится всякий мусор, не интересный большинству в интернете.<br/>		
		[localhost]~><a href="{% url 'login' %}">&rarr;login</a>
	{% endif%}
	<p>
	</div>	
	<hr size=1px width=100%>
	<ul id="menu">
		<li><a href="#">Главная</a></li>					
		<li><a href="#">Фото</a></li>
		<li><a href="#">About</a></li>
	</ul>
	<hr size=1px width=100%>
	{% if user.is_authenticated %}	
	<ul id="menu">
		<li><a href="#">Добавить</a></li>							
	</ul>	
	{% endif%}
</div>
<div id="content">
    {% block content %}
    {% endblock %} 
  <div id="footer">
	<hr size=1px width=100%>
    <p>Copyright &copy; <em>edlin</em> &middot; Design: edlin</p>
  </div>
</div>
</body>
</html>
